/* stylelint-disable */

// Smart Mode
@mixin smart {
	// Standard Overrides Menu and Side Bars ---------------------------------------------------------
	--header-bar-height: 72px;
	--module-background: #051e34;
	--module-background-light: #152e44;

	.private-view .header-bar {
		margin: 0;
		top: 0;
		height: var(--header-bar-height);
		@include breakpoint(medium) {
			padding: 0 var(--content-padding);
		}
		background-color: var(--module-background);
		
		.type-title {font-size: 20px; color: var(--white);}
		.header-icon {--v-button-height: 50px;}
		.headline {display: none;}
		.search-input {background-color: var(--white);}
		.actions.active {background-color: var(--module-background);}
	}
	.private-view .navigation .module-bar {
		.module-bar-logo {
			height: var(--header-bar-height);
			min-height: var(--header-bar-height);
			background: var(--module-background);
			.v-progress-linear {display: none;}
		}
		.v-button {
			--v-button-background-color-activated: var(--background-normal-alt);
			--v-button-color-activated: var(--primary);
			--v-button-background-color-hover: var(--module-background-light);
		}
		.module-bar-avatar {display: none;}
	}

	.private-view .navigation .module-nav {
		.project-info, .module-nav-header {
			height: var(--header-bar-height);
			background-color: var(--module-background-light);
			color: var(--foreground-inverted);

			.name {margin-left: 0; font-size: 16px;}
			.latency-indicator {display: none;}
		}
		.module-nav-content {
			font-size: 13px;
			background-color: var(--background-normal-alt);
			--v-list-item-background-color-hover: var(--background-normal);
			--v-list-item-background-color-active: var(--background-highlight);
			--v-list-item-color-active: var(--primary);
			height: calc(100% - var(--header-bar-height));
		}
		.v-list-item:not(.dense).active {
			background-color: var(--v-list-item-background-color-active) !important;
			color: var(--v-list-item-color-active) !important;
		}
	}
	.private-view .sidebar  {
		font-size: 13px;

		.sidebar-header .module-bar-avatar .v-avatar.large {
			height: var(--header-bar-height);
			width: 64px;
			--v-icon-size: 30px;
		}
		.flex-container {
			height: calc(100% - var(--header-bar-height));
			.sidebar-detail {
				.toggle {transition: height var(--medium) var(--transition);}
				&.open .toggle {height: 48px;}
				.close { display: none; }
			}
		}
		.v-divider {
			margin-bottom: 8px;
			padding-bottom: 0;
		}
		.comment-item {
			margin-bottom: 8px;
			.content {
				font-size: 11px;
			}
		}
		.revision-item {
			margin-bottom: 8px;
		}
	}
	.private-view .sidebar.is-open .sidebar-button {
		display: none;
	}
	.notifications-group {
		@include breakpoint(medium) {
			bottom: 10px;
		}
	}

	// Standard Overrides Overlay Dialogs ----------------------------------------------------
	.vue-portal-target .v-card {
		.v-card-title.type-label {font-size: 22px;}
	}

	// Standard Overrides Content ------------------------------------------------------------
	.private-view > .content {
		overflow: hidden;
		--content-padding-bottom: 80px;
		@include breakpoint(medium) {
			--content-padding: 54px;
		}
	
		main {
			height: calc(100% - var(--header-bar-height));
			overflow: auto;
			display: block;

		}
	}

	// Standard Overrides List Layouts -------------------------------------------------------
	.private-view > .content {
		.layout {
			--layout-offset-top: 0px;
		}
		.table {
			max-width: 1200px;
		}
		.v-table {
			font-size: 14px;
			@include breakpoint(medium) { --content-padding: 40px;	}

			.v-checkbox .checkbox {
				--v-icon-color: var(--border-subdued);
			}
			.table-row.clickable:not(.subdued):hover .cell .v-checkbox .checkbox {
				--v-icon-color: var(--background-normal-alt);
			}
			.v-checkbox:not(:disabled):not(.indeterminate).checked .checkbox {
				--v-icon-color: var(--v-checkbox-color) !important;
			}

			// TODO - hide select column in smaller resolutions; directly in table component???
			//.cell.select {visibility: hidden; width: 0; position: absolute;}
			//@include breakpoint(medium) {.cell.select {visibility: visible;}}
		}
		.v-table > table {
			margin-top: 10px;
			@include breakpoint(medium) { margin-top: calc(var(--content-padding) - 10px); }
		}
	}

	// Standard Overrides Forms --------------------------------------------------------------
	.content, .private-view > .content, .v-drawer > .content {
		--form-column-max-width: 600px;
		--input-height: 46px;
		--input-padding: 10px;
		--form-vertical-gap: 32px;
		--form-horizontal-gap: 48px;

		.v-divider {
			padding-bottom: 16px;
			span.wrapper .v-icon { margin-right: 10px; }
		}
		// TODO - lets wait and see what the intention of this additional column is
		/*.v-form.with-fill {
			grid-template-columns: [start] minmax(0, var(--form-column-max-width)) [half] minmax(0, var(--form-column-max-width)) [full];
		}*/
		.v-form .type-label {
			font-size: 13px;
			line-height: 14px;
		}
		.v-form .label.edited::before {
			top: 3px;
			left: -10px;
			width: 8px;
			height: 8px;
			background-color: var(--primary);
		}
	}

	// Smart Theme Variables ----------------------------------------------------------------
	--border-normal: #D3DAE4;
	--border-normal-alt: #A2B5CD;
	--border-subdued: #F0F4F9;

	--foreground-normal: #4F5464; // Less contrast for improved hierarchy
	--foreground-normal-alt: #172940; // More contrast for titles and labels
	--foreground-subdued: #A2B5CD;
	--foreground-inverted:#FFF;

	--background-normal: #F0F4F9;
	--background-normal-alt: #E4EAF1;
	--background-subdued: #F7FAFC;
	--background-highlight: #F7F9FD;
	--background-page: #FFFFFF;
	--background-input: #FFFFFF;
	--background-page-rgb: 255, 255, 255;
	--background-inverted: #263238;

	--card-face-color: #FAFCFD;
	--card-shadow-color: 23,41,64;
	--card-shadow: 0px 0px 6px 0px rgba(var(--card-shadow-color),0.2);
	--overlay-color: rgba(38, 50, 56, 0.9);

	--purple-alt: #F6F4FD;
	--purple-10: #F6F4FD;
	--purple-25: #E7E2F8;
	--purple-50: #CEC5F1;
	--purple-75: #B7AAEB;
	--purple: #9E8DE4;
	--purple-125: #8279BC;
	--purple-150: #666493;
	--purple-175: #4A506B;
	--purple-190: #394453;

	--blue-alt: #F0F8FE;
	--blue-10: #F0F8FE;
	--blue-25: #D9EBFC;
	--blue-50: #B3D7F9;
	--blue-75: #8EC4F7;
	--blue: #68B0F4;
	--blue-125: #5993C8;
	--blue-150: #4B769B;
	--blue-175: #3C596F;
	--blue-190: #344855;

	--green-alt: #E6FAF5;
	--green-10: #E6FAF5;
	--green-25: #BFF1E5;
	--green-50: #7FE3CA;
	--green-75: #40D6B1;
	--green: #00C897;
	--green-110: #05BA8F; // Text readability
	--green-125: #0BA582;
	--green-150: #17826D;
	--green-175: #225F58;
	--green-190: #294A4B;

	--orange-alt: #FFF5E9;
	--orange-10: #FFF5E9;
	--orange-25: #FDE5C6;
	--orange-50: #FACA8D;
	--orange-75: #F9B155;
	--orange: #F7971C;
	--orange-125: #C58026;
	--orange-150: #926A2F;
	--orange-175: #605339;
	--orange-190: #42453F;

	--red-alt: #FDEEF0;
	--red-10: #FDEEF0;
	--red-25: #F8D3D9;
	--red-50: #F0A7B3;
	--red-75: #EA7D8F;
	--red: #E35169;
	--red-125: #B64C5F;
	--red-150: #884756;
	--red-175: #5B414C;
	--red-190: #403E47;


	--primary-10: var(--green-10);
	--primary-25: var(--green-25);
	--primary-50: var(--green-50);
	--primary-75: var(--green-75);
	--primary: var(--green);
	--primary-alt: var(--green-10);
	--primary-110: var(--green-110);
	--primary-125: var(--green-125);
	--primary-150: var(--green-150);
	--primary-175: var(--green-175);
	--primary-190: var(--green-190);

	--success-10: var(--green-10);
	--success-25: var(--green-25);
	--success-50: var(--green-50);
	--success-75: var(--green-75);
	--success: var(--green);
	--success-alt: var(--green-10);
	--success-125: var(--green-125);
	--success-150: var(--green-150);
	--success-175: var(--green-175);
	--success-190: var(--green-190);

	--warning-10: var(--orange-10);
	--warning-25: var(--orange-25);
	--warning-50: var(--orange-50);
	--warning-75: var(--orange-75);
	--warning: var(--orange);
	--warning-alt: var(--orange-10);
	--warning-125: var(--orange-125);
	--warning-150: var(--orange-150);
	--warning-175: var(--orange-175);
	--warning-190: var(--orange-190);

	--danger-10: var(--red-10);
	--danger-25: var(--red-25);
	--danger-50: var(--red-50);
	--danger-75: var(--red-75);
	--danger: var(--red);
	--danger-alt: var(--red-10);
	--danger-125: var(--red-125);
	--danger-150: var(--red-150);
	--danger-175: var(--red-175);
	--danger-190: var(--red-190);

	.alt-colors {
		--background-subdued: var(--background-page);
	}
}

