@import 'base';
@import 'fonts';
@import 'themes/dark';
@import 'themes/light';
@import 'themes/smart';
@import 'variables';
@import 'tooltip';
@import 'type-styles';
@import 'lib/codemirror';
@import 'lib/cropperjs';
@import 'lib/highlight';

body.light {
	@include light;
}

body.dark {
	@include dark;
}

body.auto {

	/* Smart Change */
	@include smart;
	/*
	@media (prefers-color-scheme: dark) {
		@include dark;
	}

	@media (prefers-color-scheme: light) {
		@include light;
	}
	*/
	/* end */
}
