$breakpoints: (
	'small':   (min-width: 600px),
	'small-max': (max-width: 959px),  /* Smart Change */
	'medium':  (min-width: 960px),
	'medium-max':  (max-width: 1259px),  /* Smart Change */
	'large':   (min-width: 1260px),
	'large-max':  (max-width: 1899px),  /* Smart Change */
	'x-large': (min-width: 1900px)
) !default;

@mixin breakpoint($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		@media #{inspect(map-get($breakpoints, $breakpoint))} {
			@content;
		}
	}

	@else {
		@warn "Breakpoint `#{$breakpoint}` doesn't exist." +
			'Available breakpoints are #{map-keys($breakpoints)}.';
	}
}
